.title {
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.instructions {
  text-align: left;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: 18px;
}

hr {
  border: 0.5px solid #ccc;
}

hr.sepline {
  margin-top: 15px;
  margin-bottom: 15px;
}

hr.topSep {
  margin-bottom: 15px;
}

input.pretty {
  border-radius: 5px;
  border-color: #ccc;
  border-width: 0.25px;
  border-style: solid;
  height: 40px;
  width: 90%;
  font-size: 22px;
  margin: 0;
  padding-left: 5px;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}

button.pretty {
  margin-top: 10px;
  border-radius: 5px;
  border-color: #5FBD5F;
  border-width: 0.25px;
  border-style: solid;
  height: 35px;
  width: 91%;
  font-size: 25px;
  background-color: #6AD26A;
  line-height: 0px;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}

main {
  width: 320px;
  border-radius: 3px;
  border-color: #ccc;
  border-width: 0.5px;
  border-style: solid;
  background-color: #FFF;
  padding-bottom:10px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  background-color: whitesmoke;
}
